{% extends "app/index.html" %}
{% block title %}Mantenciones - Pañol{% endblock %}

{% block contenido %}
<div class="container mt-4">
  <!-- Formulario de creación -->
  <div class="card mb-4 shadow-sm">
    <div class="card-header bg-primary text-white">
      Nueva Mantención
    </div>
    <div class="card-body">
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">{% if id %}Editar Mantencion{% else %}Crear Mantencion{% endif %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
